//-
  - var user = { name: 's',email: 'aa',pass:'sdsd'}
  
  mixin field(type, name, label)
    .field(class='field-' + type)
      label #{label}:
      input(type=type, name='user[#{name}]', value=user[name])
    script
      alert('#{label}')
  
  form
    mixin field('text', 'name', 'Username')
    mixin field('text', 'email', 'Email')
    mixin field('password', 'pass', 'Password')
    input(type='submit', value='Sign Up')